* {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;

}

body {
  background-image: url(../images/nasa.jpg);
  //background-size: 100% auto;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  //position: absolute;

}

p {
  color: white;
  text-align: center;
}

audio {
  width: 500px;
  margin: 0px 26%;
  margin-bottom: 15px;

}

.search-box {
  margin-top: 20px;
  text-align: center;
}

#search {
  height: 35px;
  width: 168px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 30px;
}

#search-button {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
  height: 35px;
  width: 128px;
  font-weight: bold;
  font-size: 15px;
}

#search-button:hover {
  text-decoration: underline;
}

p {
  text-align: center;
}

.results {
  text-align: center;
  color: white;
  display: flex;
  padding-top: 40px;
}

.song {
  height: 200px;
  width: 205px;
  padding-right: 25px;
  display: inline-block;

}

.secret {
  display: none;
}

#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
   background: black;
}
