* {
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;

}

body {
  background-image: url(../images/nasa.jpg);
  background-size: 100% auto;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 35px;

}

p {
  color: white;
  text-align: center;
}

audio {
  width: 500px;
  margin: 0px 32%;
  margin-bottom: 0px;
}

.search-box {
  text-align: center;
}

#search {
  height: 25px;
  width: 68px;
  text-align: center;
}

#search-button {
  text-align: center;
  margin-bottom: 50px;
  height: 25px;
  width: 68px;
  font-weight: bold;
  font-size: 15px;
}

p {
  text-align: center;
}

.results {
  text-align: center;
  color: white;
}

.song {
  height: 200px;
  width: 205px;
  display: inline-block;
}

.secret {
  display: none;
}
